h2{
	padding: 10px;
	border-bottom: #808080 solid 1px;
}
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}
.mycolor{
	color: #ffff00;
}
.header_{
	height: 300px;
	background-image: url('../images/banner.jpg');
}
.no-space-br{
	clear: both;
	padding: 0px;
}
.newline{
	clear: both;
	padding: 5px;
}
.quot_{
	font-size: 40px;
	font-family: Times New Roman, Arial, Book Antiqua;
	font-style: italic;
	padding: 10px 0px 0px 0px;
	height: 75px;
	text-align: center;
}
.content{
	background: #f0f0f0; 
	padding: 10px;
	text-align: justify;
}
