#lable{
	float: left;
	font-family: Verdana;
	color: #009900;
	font-size: 22px;
}
#txt{
	float: left;
	font-family: Verdana;
	color: #009900;
	font-size: 22px;
}
#table{
	padding: 10px;
	float: left;
	font-family: Verdana;
	color: #009900;
	font-size: 22px;
}
.newline{
	clear: both;
	
}
#print_{
	padding: 10px;
	font-size: 25px;
	color: #ff0000;
	font-family: verdana;
}
.row_{
	border: #009900 solid 0px;
	padding: 5px;
	text-decoration: underline overline;
}